<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/scripts/index.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <p>Don't have an account? <a href="/register">Sign up here</a></p>
  <p>Already have an account? <a href="/login">Login here</a></p>
</body>