<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/scripts/script.js"></script>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <%- include('partials/header.ejs'), {username: username, isAdmin: isAdmin} %>
    <h1>Users</h1>
    <div id="" style="overflow-y:auto; height:400px; -ms-overflow-style: none; scrollbar-width: none;">
        <table>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td>
                            <a href="/Profile/<%= user.username %>">
                                <button><%= user.username %></button>
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>