body {
  background: rgb(41, 41, 41);
  color: white;
  width: 98vw;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: rgb(68, 68, 68);;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 250px;
  border-style: none;
}

textarea {
  background-color: rgb(68, 68, 68);;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 250px;
  border-style: none;
}

button {
  background-color: rgb(68, 68, 68);;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 100px;
  border-style: none;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(90, 90, 90);;
}

.profileheader {
  background: transparent;
  width: 100vw - 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(41, 41, 41); /* Black with opacity */
}

/* Modal Content */
.modal-content {
  color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-danger {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-cancel {
  background-color: rgb(68, 68, 68);;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}